---
	import Default from '../default.astro'
   import Slider from '../components/Slider.vue'
---

<Default>

<Slider client:load/>

<section class="parallax-box parallax-background">
  <img src="/img/background-1000-01.jpg" class="parallax-image" alt="">

  <main id="wrapper">
    <header>
      <div id="progress-nav-container">
        <nav id="progress-nav">
          <main>
            <a>doświadczenia</a>
            <a>zakwaterownie</a>
            <a>atrakcje</a>
            <a>ceny</a>
          </main>
        </nav>
      </div>
    </header>

    <div class="dummy"></div>

    <footer>
      lorem ipsum
    </footer>
  </main>
</section>

</Default>