<footer id="main-footer" style="display:none">
  <main>
    <section id="logo-container">
      <a href="">
        <img class="svg" src="/svg/trip_logo2 one-color.svg" alt="trip logo">
        <p>trip</p>
      </a>
    </section>
    <section id="nav-container">
      <section class="underline-link-group column center">
        <a href="">Start</a>
      </section>
      <section class="underline-link-group column center">
        <a href="">Wycieczki</a>
        <a href="">Hiszpania</a>
        <a href="">Portugalia</a>
        <a href="">Inne</a>
      </section>
      <section class="underline-link-group column center">
        <a href="">O nas</a>
        <a href="">Doświadczenie</a>
        <a href="">Zespół</a>
      </section>
      <section class="underline-link-group column center">
        <a href="">Kontakt</a>
      </section>
    </section>
    <section id="other-container">
      <a href="">
        <img class="svg" src="/svg/trip_logo2 one-color.svg" alt="trip logo">
      </a>
      <div class="socialmedia-container">
        <a href="#" class="socialmedia-item facebook">
          <i class="fab fa-facebook-f"></i>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        <a href="#" class="socialmedia-item instagram">
          <i class="fab fa-instagram"></i>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        <a href="#" class="socialmedia-item youtube">
          <i class="fab fa-youtube"></i>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <a href="#" class="underline-link center">Newsletter</a>
    </section>
  </main>
  <section id="rights">Travel Agency 2017 &copy; Wszelkie prawa zastrzeżone.</section>
</footer>