---

---
<head>
  <!-- icons -->
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- normalizer css -->
  <link rel="stylesheet" type="text/css" href="/normalize.css"/>

  <!-- MAIN stylesheet -->
  <link rel="stylesheet" type="text/css" href="/main.css"/>

  <meta charset="utf-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>

  <script src={Astro.resolve('../js/jquery-3.2.1.min.js')}></script>

  <title>T r i p. website - Start</title>

</head>