<div id="main-nav-container">
  <nav id="main-nav">
    <section id="logo-container">
      <a href="#">
        <img src="/svg/trip_logo1 stroke.svg" alt="trip logo">
        <p>trip</p>
      </a>
    </section>
    <section id="nav-container">
      <section class="underline-link-group big center starter">
        <a href="#">Start</a>
        <a href="#">Wycieczki</a>
        <a href="#">O nas</a>
        <a href="#">Kontakt</a>
      </section>
    </section>
  </nav>
</div>